<article *ngIf="(todo$|async)?.length !==0 || (done$|async)?.length !==0 ; else elseBlock">
  <section *ngIf="todo$ | async as todo">
    <div>
      <app-todo-template
        *ngFor="let item of todo$ | async"
        [aTodo]="item"
        (mark)="markAsDone($event)"
        (del)="onDelete($event)"
      >
        {{ item.title }}
      </app-todo-template>
    </div>
  </section>

  <section *ngIf="done$ | async as done">
    <div>
      <app-todo-template
        *ngFor="let item of done$ | async"
        [aTodo]="item"
        (mark)="markAsDone($event)"
        (del)="onDelete($event)"
      >
        {{ item.title }}
      </app-todo-template>
    </div>
  </section>
</article>

<ng-template #elseBlock>
  <h1>Please insert a todo</h1>
</ng-template>
