<article>
  <h2>Add Your ToDo</h2>
  <form >
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="title" name="first" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="desc" rows="7" name="first"> </textarea>
    </mat-form-field>
    <div>
      <button mat-button type="button" (click)="onAdd()" mat-dialog-close>Add</button>
      <button mat-button type="submit">Clear</button>
    </div>
  </form>
</article>
